  <h1>
  List of all directors
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>
  
  <% @list_of_directors.each do |cell_info| %>
    <tr>
      <td>
        <%= cell_info.id %>
      </td>

      <td>
        <img src="https://robohash.org/<%=cell_info.id%>" style="width:250px;">
      </td>

      <td>
        <%= cell_info.name %>
      </td>

      <td>
        <%= cell_info.dob %>
      </td>

      <td>
        <a href="/directors/<%= cell_info.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>